.App {
  text-align: center;
}

.appheader{
  flex: 1;
  min-height: 100vh;
  background-color: black;
  color: white;
}


.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  background-color: #333;
  padding: 20px;
  color: white;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  padding: 40px;
}